<!-- jQuery -->
<script src="js/jquery/dist/jquery.min.js"></script>
<!-- jQuery 
<script src="js/default_login_check.js"></script>-->
<!-- Angular -->
<!-- <script src="//code.angularjs.org/1.4.0/angular.js"></script> -->
<!-- Angular animate library -->
<!-- <script src="js/angular/angular-animate.min.js"></script> -->
<!-- Angular validate messages -->

<!--bootrsrap javascript -->
<script type="text/javascript" src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- require js -->
<!-- <script type="text/javascript" src="http://bennadel.github.io/JavaScript-Demos/vendor/require/require-2.1.9.min.js"></script> -->
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!-- Angular validate messages -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
<!-- Angular ui router -->
 <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script> 
<!-- Angular animate library -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
<!-- Angular admin routes  -->



 <div class="footerContainer" style="background-color: #2c3e50;padding:4%">
 	<!-- <div class="page-footer__links"><div class="page-footer__links-column"><div class="page-footer__section page-footer__section--first"><div class="page-footer__heading">Meet Envato</div><a class="page-footer__links-column-expansion-link" href="javascript:void(0);"><span class="page-footer__links-column-expansion-link-expand-text"><i class="fa fa-plus page-footer__links-column-link-icon"></i></span><span class="page-footer__links-column-expansion-link-collapse-text"><i class="fa fa-minus page-footer__links-column-link-icon"></i></span></a><div class="page-footer__item"><a class="page-footer__link" href="https://envato.com">About Envato</a></div><div class="page-footer__item"><a class="page-footer__link" href="https://envato.com/sites">Explore our Ecosystem</a></div><div class="page-footer__item"><a class="page-footer__link" href="https://envato.com/careers">Careers</a></div></div></div><div class="page-footer__links-column"><div class="page-footer__section page-footer__section--first"><div class="page-footer__heading">Join our Community</div><a class="page-footer__links-column-expansion-link" href="javascript:void(0);"><span class="page-footer__links-column-expansion-link-expand-text"><i class="fa fa-plus page-footer__links-column-link-icon"></i></span><span class="page-footer__links-column-expansion-link-collapse-text"><i class="fa fa-minus page-footer__links-column-link-icon"></i></span></a><div class="page-footer__item"><a class="page-footer__link" href="https://tutsplus.com/teach">Teach at Envato Tuts+</a></div><div class="page-footer__item"><a class="page-footer__link" href="https://tutsplus.com/translate-for-us">Translate for Envato Tuts+</a></div><div class="page-footer__item"><a class="page-footer__link" href="https://forums.envato.com/c/project-making/envato-courses-and-tutorials">Forums</a></div><div class="page-footer__item"><a class="page-footer__link" href="http://community.envato.com/#/events/">Community Meetups</a></div></div></div><div class="page-footer__links-column"><div class="page-footer__section page-footer__section--first"><div class="page-footer__heading">Help and Support</div><a class="page-footer__links-column-expansion-link" href="javascript:void(0);"><span class="page-footer__links-column-expansion-link-expand-text"><i class="fa fa-plus page-footer__links-column-link-icon"></i></span><span class="page-footer__links-column-expansion-link-collapse-text"><i class="fa fa-minus page-footer__links-column-link-icon"></i></span></a><div class="page-footer__item"><a class="page-footer__link" href="https://tutsplus.com/faq">FAQ</a></div><div class="page-footer__item"><a class="page-footer__link" href="https://tutsplus.com/support">Help Center</a></div><div class="page-footer__item"><a class="page-footer__link" href="https://tutsplus.com/terms-of-use">Terms of Use</a></div><div class="page-footer__item"><a class="page-footer__link" href="https://tutsplus.com/about">About Envato Tuts+</a></div><div class="page-footer__item"><a class="page-footer__link" href="https://tutsplus.com/advertise">Advertise</a></div></div></div><div class="page-footer__links-column page-footer__links-last-column"><div class="page-footer__section page-footer__section-subscribe page-footer__section--first"><div class="page-footer__newsletter-section"><div class="page-footer__heading">Email Newsletters</div><div class="page-footer__newsletter-description">Get Envato Tuts+ updates, news, surveys &amp; offers.</div><form class="page-footer__newsletter-form" action="/weekly_digest_subscription_requests" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="2DG36J4EEkild4CIZiRsBPW5Ky2SxVXdxKLGm0yKwTLvN4vvWQNDJSwV7Kw1TR8LLVrymqbHVAnUQWgPKeeAhg=="><input placeholder="Email Address" class="page-footer__newsletter-email-field" type="email" name="weekly_digest_subscription_request[email]" id="weekly_digest_subscription_request_email"><button name="button" type="submit" class="page-footer__newsletter-submit">Subscribe</button></form><a class="page-footer__newsletter-privacy-policy-link page-footer__link" href="https://tutsplus.com/privacy-policy">Privacy Policy</a></div></div></div></div> -->
 </div>
