   <style type="text/css">
	 	
	 html, body {
        height: 100%;
        background-color: #d8d7d7;

    }
	
	.thumb {
		 transition:all 0.5s ease;
		 cursor: pointer;
	}
	.thumb:hover {
		 box-shadow: inset 0 0 0 18px #404e5d;
	}

	.active { box-shadow: inset 0 0 0 18px #404e5d;} 

	
    .about p{
    	font-size: 18px;
    }     
   
   
    



</style>
<div id="content" class="container">
		<div class="row col-md-12" >



					<div  class="col-md-12 about">

					 			 <h1>Hi, I am Greg!</h1>
					 			 <h2>Welcome to my portfolio site!</h2>
					 			<p>I am a front-end developer based in London, that is currenlty looking for an intersting project.</p>
					 			<p>I specialize in angular.js and node.js and those platforms are so far my favourites to work with.</p>
					 			<p>This site is an example of single-page application written in angular.js and served by node.js</p> 
					 			<p>Thank You for visiting!</p>
					 			<p>Please contact me <a href="mailto:gradek64@yahoo.com" target="_top">>>email link here>></a>if you have any comments or You have some project in mind that I can work with.</p>

							
								 <div class="col-md-12" ng-click="gotoElement('portfolio')"  style="margin-top: 40px;" >
								 		<a href="#" class="btn btn-info align-middle" style="width:200px;height:200px;max-width: 300px;margin: 0 auto;display: block;border-radius: 50%;line-height: 11"><span class="align-middle">explore my portfolio below</span></a>

									   <!--  <img src="images/arrow_down_portfolio.gif" style=";max-width: 100px;max-height: 100px;margin: 0 auto;display: block;"> -->
								 </div>
					</div>	
		</div>	
					
		<div id="portfolio" class="row col-md-12" style="margin-top:20%">
					      <div class="col-md-3 offset-md-1" ng-repeat="item in thumbs track by $index">
					              <div class="panel panel-primary"> <!-- style="display: inline-block;" -->
					                <div class="panel-body thumb"  ng-click="changeClass($index,$event)" >
					                <img src="{{item.thumbnail}}" />
					                </div>
					              </div>
					</div>





		</div>
</div>