<style>
	
		.lightbox {
			width: 99%;
			height: 100%;
			position: absolute;
			top:0;
			left:0;
			background-color: black;
			opacity: 0.5;
			z-index: 10;
		}

		.lightboxContent {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			opacity: 1;
			z-index: 11;
		}

		.closeButton {
			float:right;
			top:0;
			right:0;
		}

		img {
			width: 100%;
			height: auto;
		}

		iframe {
			width: 100%
			height:auto;
		}

		#category {
			float: left;
		}




		/* change colors of bootstrap pagination */

		.pagination > .disabled > a, .pagination > li > a, .pagination > li > span, .pagination > li > a, .pagination > li > span {
			  /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
			  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
			  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
			  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
			  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
			  background-repeat: no-repeat;
			  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
			  -webkit-filter: none;
			  filter: none;

			  color: #ffffff;
		      background-color: #3a3f44;
		      border: 1px solid rgba(0, 0, 0, 0.6);
		      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);*/

		
		      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#384756+0,717b99+38,717b99+63,384756+100 */
		      background: #384756; /* Old browsers */
		      background: -moz-linear-gradient(top, #384756 0%, #717b99 38%, #717b99 63%, #384756 100%); /* FF3.6-15 */
		      background: -webkit-linear-gradient(top, #384756 0%,#717b99 38%,#717b99 63%,#384756 100%); /* Chrome10-25,Safari5.1-6 */
		      background: linear-gradient(to bottom, #384756 0%,#717b99 38%,#717b99 63%,#384756 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384756', endColorstr='#384756',GradientType=0 ); /* IE6-9 */
		}
		

		.pagination > li > a:active , .pagination > .active > a , .pagination > li > a:hover , .pagination > .disabled > a:hover  {
				background-image: -webkit-linear-gradient(#020202, #101112 40%, #141618);
			    background-image: -o-linear-gradient(#020202, #101112 40%, #141618);
			    background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#141618));
			    background-image: linear-gradient(#020202, #101112 40%, #141618);
			    background-repeat: no-repeat;
			    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff141618', GradientType=0);
			    -webkit-filter: none;
			    filter: none;

				z-index: 3;
			    color: #ffffff;
			    background-color: #232628;
			    border-color: rgba(0, 0, 0, 0.6);
			    cursor: default;
		}

		/*****/




</style>
<div id="showBox" class="container-fluid overlay"  style="overflow-x: hidden;" ng-hide="!showLightbox"> <!--  -->
<div class="lightbox" ></div>
		<div class="lightboxContent  overlay-content">
			<div class="container-fluid jumbotron " style="width: 60%;margin:30px auto;background-color: white;border: 1px solid grey;">
		     		
		     			
		     			  <button class="btn btn-default col-sm-1 pull-right margin-bottom-5" ng-click="closePopUp();" style="min-width: 65px;">close</button>
		     		
				       		<div class="row" >
					      		<!-- <div class="arrow col-sm-2"><img src="images/arrow_left.png" /></div> -->
					      			<h3 class="text-warning">{{campaignName}}</h3>
					       			<div class="col-sm-12" style="margin-top:10px;">
					       					<div class="inframeRatio " style="width: 100%;">
					       					<div class="contents"></div>
					       					</div>
					       				</div>
					       				<!-- <div class="arrow col-sm-2"><img src="images/arrow_right.png" /></div> -->
									</div>

								<h3 class="text-warning">Description</h3>
								<p>{{description}}</p>


								<div class="row" style="margin:5% 0 5% 0;">
								<div class="col-sm-12 row" ><h5 class="col-sm-2">Techonology:</h5><h5 class="text-info col-sm-9" ><span ng-repeat="item in technology track by $index">{{item}}, </span></h5></div>
								<div class="col-sm-12 row"><h5 class="col-sm-2">Sector:</h5><h5 class="text-info col-sm-9">{{sector}}</h5></div>
								</div>
								
				      	
				      		<div  style="max-width: 350px;min-width: 300px;margin: 0 auto;display: block;">
									<!-- items being paged -->
									        <div ng-repeat="item in items">Item {{item}}</div>
									         
									        <!-- pager -->
									        <ul ng-if="pager.pages.length" class="pagination pagination-sm" >
									            <li ng-class="{disabled:pager.currentPage === 1}">
									                <a ng-click="setPage(1)">First</a>
									            </li>
									            <li ng-class="{disabled:pager.currentPage === 1}">
									                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
									            </li>
									            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
									                <a ng-click="setPage(page)">{{page}}</a>
									            </li>               
									            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
									                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
									            </li>
									            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
									                <a ng-click="setPage(pager.totalPages)">Last</a>
									            </li>
									        </ul>
				      		</div>
		     </div>
	</div>
</div>


