<!DOCTYPE html>
<html>
  <head>
     <% include partials/head.ejs %>
  </head>
  <body>
  <style>
          /* needed for smooth angular loaidng */
     [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
    }
  </style>

    <header>
      <% include partials/header.ejs %>    
    </header>

        <div class="jumbotron" ng-app="app" ng-cloak ng-controller="MainCtrl as main">

           
              <form id="signIn" name='userForm' class="form-horizontal" ng-submit="processForm()">

              <fieldset>
                        <h3 class="sign-in__title user-form__title nolinks">Update your details...</h3>
                        <h4 id="messages" ng-show="updated"><%= typeof userName!='undefined' ? userName: '' %> updated !</h4>
              <div class="row"> 
                    <div class="col-md-9 col-xs-12">
                      <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                              <input type="text" name="name" class="form-control" id="inputEmail" placeholder="Name/nickname" ng-model="user.name" ng-disabled="true" required>
                            
                                  <!-- ngMessages goes here -->
                                  <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched"> <!-- do validation only out of focus on blur 
                                         ng-if="userForm.name.$touched really cool !! -->
                                        <span ng-message="required">Your name is required.</span>
                                  </div>
                            </div>
                      </div>
                      <div  class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="email" name="emailfield" class="form-control" id="inputEmail" placeholder="Email"  ng-model="user.emailfield" required>
                                   <!-- ngMessages goes here -->
                                  <div class="help-block" ng-messages="userForm.emailfield.$error" ng-if="userForm.emailfield.$touched"> <!-- do validation only out of focus on blur 
                                         ng-if="userForm.name.$touched really cool !! -->
                                        <span ng-message="required">Your email is required.</span>
                                        <span ng-message="email">Your email is invalid</span>
                                  </div>
                      
                            </div>
                      </div>
                      <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label" >Password</label>
                            <div class="col-lg-10">
                              <input type="{{passwordType}}" name='pass' class="form-control" id="password" placeholder="create password" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }" ng-model="user.pass" ng-focus="currentfocus = true"  required>
                              <i ng-click="showEye = showEye ? false : true; togglePasswordVisibility() " class="fa fa-6" ng-class="{ 'fa-eye-slash': !showEye,'fa-eye': showEye }" style="font-size:1.5em;position: absolute; top: 10px; right: 25px;cursor :pointer"></i>
                                        <div class="help-block" ng-messages="userForm.pass.$error" ng-if="userForm.pass.$touched"> <!-- do validation only out of focus on blur -->
                                                <span ng-message="minlength">Your password is too short.</span>
                                                <span ng-message="required">Your password is required.</span>
                                        </div> 
                            </div>
                                      <password-strength pstrenght="{{currentstrength}}" passwordlabel="{{label}}"  ng-show="currentfocus"></password-strength>
                      </div>
                       <div class="form-group">
                          <label for="inputEmail" class="col-lg-2 control-label">occupation</label>
                          <div class="col-lg-10">
                            <input type="text" name='occupation' class="form-control" id="inputEmail" placeholder="occupation"   ng-model="user.occupation" ng-disabled="user.freelancercheck">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-9 col-md-offset-3">
                          <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                         <input name="freelancercheck" type="checkbox"  ng-model="user.freelancercheck"> or Freelancer 
                                    </label>
                                </div>
                          </div>
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">favorite food</label>
                        <div class="col-lg-10">
                              <input type="text" name="favoritefood" class="form-control" id="favoritefood" placeholder="favorite food ?" ng-model="user.favoritefood">
                        </div>
                      </div>
                 </div><!-- row-->
                      <div class="col-md-3 col-xs-12">

                                      <div class="form-group">
                                          <div class="image-upload">
                                              <label for="file-input">
                                                  <img id="imagePreview" src="<%= typeof userImagePath!='undefined' ? userImagePath :'/images/upload_image_user.jpg' %>"  /><!--that way you dont need directive , that bit can be used in controller -->
                                              </label>

                                              <input id="file-input" type="file" name="userImage" ng-model="user.userImage" onchange="angular.element(this).scope().uploadedFile(this)" />
                                          </div>
                                      </div>    
                        </div>
                 

          </fieldset>
          <button  type="submit" class="btn btn-primary btn-success btn-lg" ng-disabled="userForm.$invalid" >Save changes →</button>
      </form>
</div>



   <footer>
      <% include partials/footer.ejs %>
    </footer>

        <!-- attach custom scripts -->
        <script type="text/javascript" src="js/angular/page_scripts/ang_ngMessages_password_visibility.js"></script> 
        <script type="text/javascript" src="js/angular/page_scripts/user_info_angular.js"></script>
        <script type="text/javascript" src="js/angular/page_scripts/ang_password_strength_check.js"></script>
        <script type="text/javascript" src="js/angular/page_scripts/show_user_image.js"></script>


  </body>
</html>
